@import './constant.scss';

.footer {
  background: #1f1f1f;
  min-width: $viewWidth;

  .footer-content {
    padding: 50px 0 40px;
    width: $viewWidth;
    margin: 0 auto;

    .footer-content-left {
      display: inline-block;
      max-width: 70%;

      .footer-type {
        display: inline-block;
        margin-right: 115px;

        .title {
          color: #ffffff;
          font-size: 18px;
        }

        li {
          margin-top: 22px;

          a {
            font-size: 14px;
            color: #7c8284;
            line-height: 36px;
          }
        }
      }
    }
  }
}   