<div class="footer">
    <div class="footer-content">
        <div class="footer-content-left">
            <ul class="">
                <li class="footer-type">
                    <div class="title">加入我们</div>
                    <ul>
                        <li>
                            <a>社会招聘</a>
                        </li>
                        <li>
                            <a>校园招聘</a>
                        </li>
                    </ul>
                </li>
                <li class="footer-type">
                    <div class="title">法律信息</div>
                    <ul>
                        <li>
                            <a>法律声明</a>
                        </li>
                        <li>
                            <a>侵权说明</a>
                        </li>
                    </ul>
                </li>
                <li class="footer-type">
                    <div class="title">了解更多</div>
                    <ul>
                        <li>
                            <a>商务合作</a>
                        </li>
                        <li>
                            <a>媒体报道</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>

</html>